*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f5f7;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}
main {
  min-height: calc(100vh - 100px);
}
